<div class="container">
  <form class="row g-3 mt-3">
  <div class="col-6">
    <label for="idInput" class="form-label">ID</label>
    <input type="id" class="form-control" id="idInput" placeholder="ID">
  </div>
  <div class="col-md-6">
    <label for="nameInput" class="form-label">NAME</label>
    <input type="name" class="form-control" id="nameInput" placeholder="NAME">
  </div>
  <div class="col-6">
    <label for="lastnameInput" class="form-label">LASTNAME</label>
    <input type="lastname" class="form-control" id="lastnameInput" placeholder="LASTNAME">
  </div>
  <div class="col-6">
    <label for="positionInput" class="form-label">POSITION</label>
    <input type="position" class="form-control" id="positionInput" placeholder="POSITION">
  </div>
<div class="col-12">
  <label for="salaryInput" class="form-label">SALARY</label>
  <input type="salary" class="form-control" id="salaryInput" placeholder="SALARY">
</div>
</form>
</div>





  <!--<div class="col">
  <div *ngFor="let empleado of empleados; let i=index">
    {{i+1}}: {{ empleado.id}} {{ empleado.name}} {{ empleado.lastname}} {{ empleado.position}} {{ empleado.salary}}

  </div>-->



